/* ------------------------------------------------------------------
--  Copyright             :  2014
--  Author                :  JOHN J YIN
--	Email				  :	 john.yin@ebizdesigner.com
--  Version               :  0.1
--  Date                  :  23/03/2014
--  Description           :  Responsive Styles of Flexslider
--                         
--                         Work with Opencart Default Responsive Theme
--                           
--
--  History               :  
--     <author>   <time>      <version >       <desc>
--		John	23/03/2014		0.1				initial
--
--------------------------------------------------------------------- */

/* =================================================================

							540px = 480px + 60px

 * ================================================================= */


@media screen and (max-width: 540px) {

.flex-caption {
	padding: 5px 0;
	line-height: 10px;
}

.flex-caption h2 {
	font-size: 16px;
}

.flex-caption p {
	font-size: 10px;
}

}